body {
    background-color: rgb(69, 73, 73);
    padding: 50px;
}

.center {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:rgb(129, 134, 134) solid;
}

.layout {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,#d4d4d4, #b3b3b3,#e6e6e9,#b0b1b6,#7c7d7e);
    color: gray;
    border-radius: 10px;
    width: 600px;
}

.border {
    border:rgb(0, 0, 0) solid;
}

.conteudo {
    padding: 10px;
    color: #1b1b1b;
}

.titulo {
    padding: 10px;
    color: #4d4f50;
    text-align: center;
}

thead {
    background-color: rgb(174, 180, 180);
    padding: 10px;
    color: black;
}

table {
    width: 100%;
    opacity: 75%;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

td {
    background-color: rgb(77, 68, 68);
    color: rgb(221, 213, 213);
    text-align: center;
    padding: 10px;
}

button {
    background-color: #53adda;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #1717184b;
}

.green {
    background-color: #22e278;
}

.blue {
    background-color: #22a2e2;
}

.gray {
    background-color: #aeb6bb;
}

.red {
    background-color: #f50c0c;
}

input {
    border-radius: 10px;
    background-color: #e6e6e9;
    padding: 10px;
    margin: 5px;
    border: rgb(49, 42, 42) solid 2px;
}

.forms {
    display: flex;
    background-color: #ffffff23;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}