body {
    background-color: rgb(69, 73, 73);
    color: aliceblue;
    padding: 50px;
}

.center {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:rgb(129, 134, 134) solid;
}